<div style="height: 100%; padding-top: 25px; box-sizing: border-box;">
    <ag-grid-angular
    #agGrid
    style="width: 100%; height: 100%;"
    id="myGrid"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [enableColResize]="true"
    [enableSorting]="true"
    [enableFilter]="true"
    [frameworkComponents]="frameworkComponents"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [noRowsOverlayComponent]="noRowsOverlayComponent"
    (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
</div>
<!--<div style="position: absolute; top: 0px; left: 0px;">
    <button (click)="onBtShowLoading()">Show Loading Overlay</button>
    <button (click)="onBtShowNoRows()">Show No Rows Overlay</button>
    <button (click)="onBtHide()">Hide Overlay</button>
</div>-->
