<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-ecommerce-graph1">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          100K
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Traders</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-book-pen">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          100%
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Exchange Declarations</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-ecommerce-dollar">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          100K$
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Traded Value</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-ecommerce-receipt-dollar">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          25K$
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Cost Optimization</strong>
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            GDP Per Capita
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Last updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row text-center">
          <div class="col-xs-6 col-sm-3 text-success">
            <h5 class="mb-0">
              <strong>
                34.45B
              </strong>
            </h5>
            <small>
              Income
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                34%
              </strong>
            </h5>
            <small>
              Growth
            </small>
          </div>
          <div class="col-xs-6 col-sm-3 text-danger">
            <h5 class="mb-0">
              <strong>
                45%
              </strong>
            </h5>
            <small>
              GNI
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                4.56M
              </strong>
            </h5>
            <small>
              Aid Flows
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-area-chart-stacked (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient" [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType" [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel" class="line-container">
        </ngx-charts-area-chart-stacked>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Country spending
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Last updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row text-center">
          <div class="col-sm-6 col-md-3 text-purple">
            <h5 class="mb-0">
              <strong>
                34.45B
              </strong>
            </h5>
            <small>
              Health
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                21.78B
              </strong>
            </h5>
            <small>
              Education
            </small>
          </div>
          <div class="col-sm-6 col-md-3 text-indigo">
            <h5 class="mb-0">
              <strong>
                2.89M
              </strong>
            </h5>
            <small>
              Research
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                34.76B
              </strong>
            </h5>
            <small>
              Food
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-gauge (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [angleSpan]="gaugeAngleSpan" [bigSegments]="gaugeLargeSegments" [legend]="showLegend" [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null" [max]="gaugeMax" [min]="gaugeMin" [results]="single" [scheme]="colorScheme" [showAxis]="gaugeShowAxis" [smallSegments]="gaugeSmallSegments" [startAngle]="gaugeStartAngle" [textValue]="gaugeTextValue" [tooltipDisabled]="tooltipDisabled" [units]="gaugeUnits" class="gauge-container">
        </ngx-charts-gauge>
      </div>
    </div>
  </div>
</div>
