<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-ecommerce-graph1">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          100K
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Traders</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-book-pen">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          100%
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Exchange Declarations</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-ecommerce-dollar">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          100K$
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Traded Value</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-ecommerce-receipt-dollar">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          25K$
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Cost Optimization</strong>
        </small>
      </div>
    </div>
  </div>
</div>